body, html {
    font-size:14px;
    width: 100%;
    height: 99%;
    float: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #404040;
    }

div.container {
 width: 97%;
 height: 90%;
 margin: auto;
}

div.left {
    width: 49%;
    height: 100%;
    float:left;
    overflow: auto;
}

div.right {
    width:  49%;
    float:left;
    overflow: auto;
    height: 100%;
    padding-left:10px;
}

ul {
    padding: 0 0 0 15px;
}
ul li {
    font-weight: bold;
    padding: 0;
}

.hosttab {
    width: 98%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 2px solid #000;
}

.hosttab td,th {
    width: 25%;
    color: #000;
    border: 1px solid #000;
    padding: 2px 10px;

}

.hosttab tr:hover td {
    background-color: #bababa;
}

.porttab td, th {
   width:20%;
   text-align: center;
}

.porttab td:nth-child(5) p  {
    margin: auto;

}

.hosttab td {
    background-color: #eaeaea;
}

.hosttab th {
    background-color: #bababa;
}

.hosttab a {
    text-decoration: none;
    font-size:14px;
    font-weight: bold;
    color: #404040;
}

.hosttab a:hover {
    color:#606060
}

.butHolder {
    padding: 5px;
    height: 20px;
    display: block;
    width: 95%;
    margin: 5px auto;
}

a.plbut {
  padding:1px 2px;
  margin: 1px;
  color: #9f3030;
  background-color: #bababa;
  border: 1px outset #aaa;
  border-radius: 5px;
}


a.but {
    padding:3px 5px;
    margin: 3px;
    color:#9f3030;
    background-color: #bababa;
    border: 2px outset #aaa;
    border-radius: 4px;
}

a.but:hover, a.plbut:hover {
    background-color: #aaaaaa;
    color:#9f3030;
}

.logintab {
  margin: auto;
  width: 40%;
}

.logintab td:nth-child(1) {
    width: 20%;
}

.logintab td:nth-child(2) {
    width:  80%;
    text-align: center;
}

.errormsg {
    color:white;
    background-color: red !important;
    font-weight: bold;
}

#forbidden {
    width: 100%;
    height: 95%;
}