<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hostconf Forbidden addresses</title>
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container"  style="height: 80%;">
    <h1>Забранени имена(адреси)</h1>
    <form name="login" method="POST" style="height: 100%;">
        <table class="hosttab" style="height: 100%;">
            <tr style="height: 80%;"><td>
                <textarea id="forbidden" name="forbidden">{{forbidden}}</textarea>
            </td></tr>
            <tr><td>
                <p><input type="checkbox" id="apply_localy" name="apply_localy"
                          {{#applyLocal}} checked {{/applyLocal}} />
                    <label for="apply_localy">Apply forbidden addresses locally</label></p>
                <p>
                <a href="javascript:saveForbidden()" class="but">Запис</a>
                </p>
            </td></tr>
        </table>
        <p class="butHolder">
            <a href="/ipconf/"  class="but">Назад</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="but" href="/ipconf/applySettings">Приложи настройките</a>
        </p>
    </form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
  function saveForbidden() {
      let forbidden = document.getElementById("forbidden").value;
      let applyLocal = document.getElementById("apply_localy").checked;
      let retData = {};
      retData['forbidden'] = forbidden;
      retData['applyLocal'] = applyLocal;

      handlers["/ipconf/saveForbidden"] = function(msg) {
        if (msg == "saved") window.location = "/ipconf/";
      };
      call_server(JSON.stringify(retData),'/ipconf/saveForbidden');
  }
</script>

</body>
</html>