<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hostconf Global Variables</title>
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container"  style="height: 80%;">
    <h1>Глобални променливи</h1>
    <form name="login" method="POST" style="height: 100%;">
        <table class="hosttab" style="height: 100%;">
            <tr><td>
                Интернет Vivacom:
            </td><td>
                <input id="IF1" name="IF1" size="5" value="{{IF1}}" />
            </td><td colspan="2">
                <input id="GW1" name="GW1" size="15" data-val="ip" value="{{GW1}}" />
            </td></tr>
            <tr><td>
                Интернет MTEL:
            </td><td>
                <input id="IF2" name="IF2" size="5" value="{{IF2}}" />
            </td><td colspan="2">
                <input id="GW2" name="GW2" size="15" data-val="ip" value="{{GW2}}" />
            </td></tr>
            <tr><td> Site:</td>
                <td>
                    <input id="SITE" name="SITE" data-val="ip" size="15" value="{{SITE}}" />
                </td>
                <td> Server inner address:</td>
                <td>
                    <input id="SRVIP" name="SRVIP" size="15" data-val="ip" value="{{SRVIP}}" />
                </td>
            </tr>
            <tr>
                <td>Отдалечени пътища</td>
                <td>
                    {{#gates}}
                    <p id="tgt_p_{{id}}">
                       T:<input id="target_{{id}}" name="target_{{id}}" data-val="ip" size="10" value="{{target}}" />/
                       <select id="tgt_mask_{{id}}" name="tgt_mask_{{id}}">
                           <option selected>{{mask}}</option>
                           <option>8</option>
                           <option>16</option>
                           <option>24</option>
                           <option>30</option>
                       </select>
                       GW:<input id="gate_{{id}}" name="gate_{{id}}" data-val="ip" size="10" value="{{gate}}" />
                       <a id="tgt_del_{{id}}"  href="javascript:deleteTarget('{{id}}')" class="plbut" >-</a>
                    </p>
                    {{/gates}}
                    <p id="tgt_p_new">
                    T:<input id="target_new" name="target_new" data-val="ip" size="10" value="" />/
                    <select id="tgt_mask_new" name="tgt_mask_new">
                        <option>8</option>
                        <option>16</option>
                        <option selected>24</option>
                        <option>30</option>
                    </select>
                    GW:<input id="gate_new" name="gate_new" size="10" data-val="ip" value="" />
                    <a id="tgt_add_new" href="javascript:addTarget()" class="plbut" >+</a>
                    </p>
                </td>
                <td>Достъпност на портове</td>
                <td>
                    {{#aports}}
                    <p id="port_p_{{id}}">
                    T:<input id="aport_{{id}}" name="aport_{{id}}" type="number" size="15" value="{{port}}" />
                    P:<select id="aproto_{{id}}" name="aproto_{{id}}">
                        <option{{#istcp}} selected{{/istcp}}>tcp</option>
                        <option{{#isudp}} selected{{/isudp}}>udp</option>
                    </select>
                    <a id="port_del_{{id}}" href="javascript:deletePort('{{id}}')" class="plbut" >-</a>
                    </p>
                    {{/aports}}
                    <p id="port_p_new">
                    T:<input id="aport_new" name="aport_new" type="number" size="15" value="" />
                    P:<select id="aproto_new" name="aproto_new">
                      <option selected>tcp</option>
                      <option>udp</option>
                    </select>
                    <a id="port_add_new" href="javascript:addPort()" class="plbut" >+</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Отдалечени Mikrotik<br/> Устройства Ransomware UP/Update</td>
                <td colspan="3">
                    {{#mikrotiks}}
                    <p id="mikro_p_{{id}}">
                        IP:<input id="mikro_{{id}}" name="mikro_{{id}}" data-val="ip" size="15" value="{{ip}}" />
                        PORT:<input id="mikro_port_{{id}}" name="mikro_port_{{id}}" data-val="number" size="5" value="{{port}}" />
                        NAME:<input id="mikro_name_{{id}}" name="mikro_name_{{id}}" size="15" value="{{name}}" />
                        BLOCKED:<input id="mikro_blocked_{{id}}" name="mikro_blocked_{{id}}" type="checkbox" {{#blocked}} checked {{/blocked}} />
                        <a id="mikro_del_{{id}}"  href="javascript:deleteMikro('{{id}}')" class="plbut" >-</a>
                    </p>
                    {{/mikrotiks}}
                    <p id="mikro_p_new">
                        IP:<input id="mikro_new" name="mikro_new" data-val="ip" size="15" value="" />
                        PORT:<input id="mikro_port_new" name="mikro_port_new"  data-val="number" size="5" value="" />
                        NAME:<input id="mikro_name_new" name="mikro_name_new" size="15" value="{{name}}" />
                        BLOCKED:<input id="mikro_blocked_new" name="mikro_blocked_new" type="checkbox" />
                        <a id="mikro_add_new" href="javascript:addMikro()" class="plbut" >+</a>
                    </p>
                </td>

            </tr>
            <tr style="height: 40px"><td colspan="4">
                <p class="butHolder">
                    <a href="/ipconf/"  class="but">Назад</a>
                    <a href="javascript:saveGlobals()" class="but">Запис</a>
                    <a class="but" href="/ipconf/applySettings">Приложи настройките</a>
                </p>
            </td>
            </tr>
        </table>
    </form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
  let glen={{glen}};
  let plen={{plen}};
  let mlen={{mlen}};

  //Targets
  function deleteTarget(id) {
      let p = document.getElementById("tgt_p_"+id); //Find input
      let par = p.parentNode; //parent of parent (td)
      par.removeChild(p);
  }

  //Targets
  function deleteMikro(id) {
      let p = document.getElementById("mikro_p_"+id); //Find input
      let par = p.parentNode; //parent of parent (td)
      par.removeChild(p);
  }

  function addTarget() {
      let inp = document.getElementById("target_new");
      if (inp.value == "") return;

      let p = document.getElementById("tgt_p_new");
      let vals = p.innerHTML;
      let par = p.parentNode;
      let pn = p.cloneNode(true);

      p.childNodes.forEach(function(el) {
         if (el.id == "target_new") {
             el.id = "target_"+glen;
             el.name = "target_"+glen;
          }
         if (el.id == "tgt_mask_new") {
             el.id = "tgt_mask_"+glen;
             el.name = "tgt_mask_"+glen;
          }
         if (el.id == "gate_new") {
             el.id = "gate_"+glen;
             el.name = "gate_"+glen;
          }

         if (el.id == "tgt_add_new") {
             el.id = "tgt_del_"+glen;
             el.innerHTML = "-";
             el.href="javascript:deleteTarget('"+glen+"')";
         }
      });
      p.id = "tgt_p_"+glen; //P nameitself
      glen++;

      par.appendChild(pn);
      pn.childNodes.forEach(function(el) {
          if (el.id == "target_new") el.value = "";
          if (el.id == "gate_new") el.value = "";
      });

  }

  function addMikro() {
      let inp = document.getElementById("mikro_new");
      if (inp.value == "") return;

      let p = document.getElementById("mikro_p_new");
      let vals = p.innerHTML;
      let par = p.parentNode;
      let pn = p.cloneNode(true);

      let keys = ['', '_port', '_name', '_blocked', '_add'];
      p.childNodes.forEach(function(el) {
          for (let i = 0; i < keys.length; i++)
              if (el.id == 'mikro'+keys[i]+'_new') {
                  el.id = 'mikro'+keys[i]+'_'+mlen;
                  el.name = 'mikro'+keys[i]+'_'+mlen;
                  if (keys[i] == '_add') {
                      el.innerHTML = "-";
                      el.href="javascript:deleteMikro('"+mlen+"')";
                  }
              }
      });
      p.id = "mikro_p_"+mlen; //P nameitself
      mlen++;

      par.appendChild(pn);
      pn.childNodes.forEach(function(el) {
          if (el.id == "mikro_new") el.value = "";
          if (el.id == "mikro_port_new") el.value = "";
          if (el.id == "mikro_name_new") el.value = "";
          if (el.id == "mikro_blocked_new") el.checked = false;
      });

  }

  //Ports
  function deletePort(id) {
      let p = document.getElementById("port_p_"+id); //Find input
      let par = p.parentNode; //parent of parent (td)
      par.removeChild(p);
  }

  function addPort() {
      let inp = document.getElementById("aport_new");
      if (inp.value == "") return;

      let p = document.getElementById("port_p_new");
      let vals = p.innerHTML;
      let par = p.parentNode;
      let pn = p.cloneNode(true);

      p.childNodes.forEach(function(el) {
          if (el.id == "aport_new") {
              el.id = "aport_"+plen;
              el.name = "aport_"+plen;
          }
          if (el.id == "aproto_new") {
              el.id = "aproto_"+plen;
              el.name = "aproto_"+plen;
          }

          if (el.id == "port_add_new") {
              el.id = "port_del_"+plen;
              el.innerHTML = "-";
              el.href="javascript:deletePort('"+plen+"')";
          }
      });
      p.id = "port_p_"+plen; //P nameitself
      plen++;

      par.appendChild(pn);
      pn.childNodes.forEach(function(el) {
          if (el.id == "aport_new") el.value = "";
      });

  }


  function saveGlobals() {
      let allGood = true;
      let oData = {};
      let inputs = document.getElementsByTagName('input');
      for (let index = 0; index < inputs.length; ++index) {
          let name = inputs[index].name;

          let content = inputs[index].value; //default content
          content = content.replace(/\+/g,"##1");
          content = content.replace(/\&/g,"##2");

          let validation = inputs[index].dataset.val;
          if ((validation == "ip" && (!validIp(content)) && content != "") ||
              (validation == "mac" && (!validMac(content)) && content != "") ||
              (validation == "number" && (!validNum(content)) && content != "")) {
              alert("Невалидна стойност на "+name);
              allGood = false;
          }

          if (inputs[index].type == "checkbox") {
              if (inputs[index].checked == true) content = "X";
              else content = "";
          }

          if (content != "") oData[name] = content;
      }

      inputs = document.getElementsByTagName('select');
      for (let index = 0; index < inputs.length; ++index) {
          let name = inputs[index].name;
          content = inputs[index].options[inputs[index].selectedIndex].innerHTML;
          content = content.replace(/\+/g,"##1");
          content = content.replace(/\&/g,"##2");

          if (content != "") oData[name] = content;
      }

      inputs = document.getElementsByTagName('textarea');
      for (let index = 0; index < inputs.length; ++index) {
          let name = inputs[index].name;
          let content = inputs[index].value; //default content
          content = content.replace(/\+/g,"##1");
          content = content.replace(/\&/g,"##2");

          if (content != "") oData[name] = content;
      }

      if (allGood) {
          handlers["/ipconf/saveGlobals"] = function(msg) {
              if (msg == "saved") window.location = "/ipconf/";
          };
          //alert(JSON.stringify(oData));
          call_server(JSON.stringify(oData),"/ipconf/saveGlobals");
      }
  }

</script>

</body>
</html>