<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hostconf Internet addresses</title>
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container"  style="height: 80%;">
    <h1>Internet имена(адреси)</h1>
    <form name="login" method="POST" style="height: 100%;">
        <table class="hosttab" style="height: 100%;">
            <tr><td>
                <textarea id="inetaddr" name="inetaddr" style="width: 90%;height:80%">{{inetaddr}}</textarea>
                <br/><br/>
                <a href="javascript:saveInet()" class="but">Запис</a>
            </td></tr>
        </table>
        <p class="butHolder">
            <a href="/ipconf/"  class="but">Назад</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="but" href="/ipconf/applySettings">Приложи настройките</a>
        </p>
    </form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
  function saveInet() {
      let inetaddr = document.getElementById("inetaddr").value;
      handlers["/ipconf/saveInet"] = function(msg) {
        if (msg == "saved") window.location = "/ipconf/";
      };
      call_server(inetaddr,'/ipconf/saveInet');
  }
</script>

</body>
</html>