<!DOCTYPE html>
<html>
<head>
    <title>Настройка на адреси</title>
    {{styles}}
</head>
<body>
        <h1>Настройка на адреси</h1>
<div class="container">
    <div class="left">
        {{tree}}
    </div>
    <div class="right">
            {{rightBody}}
    </div>
</div>
</body>
</html>