<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hostconf port Redirection</title>
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container">
    <h1>Пренасочване на портове</h1>
    <form name="login" method="POST">
        <table class="hosttab porttab">
            {{#redirected}}
            <tr id="row_{{ip}}_{{ctr}}">
                <td>{{name}}</td>
                <td>
                    Протокол:
                    <select id="proto_{{ip}}_{{ctr}}" name="proto_{{ip}}_{{ctr}}">
                        <option{{#istcp}} selected{{/istcp}}>tcp</option>
                        <option{{#isudp}} selected{{/isudp}}>udp</option>
                    </select>
                </td>
                <td>Външен порт:<input id="oport_{{ip}}_{{ctr}}" name="oport_{{ip}}_{{ctr}}" type="text" size="10" value="{{oport}}"/></td>
                <td>Вътрешен порт:<input id="iport_{{ip}}_{{ctr}}" name="iport_{{ip}}_{{ctr}}" type="text" size="10" value="{{iport}}"/></td>
                <td>
                    <p>
                        <input id="save_{{ip}}_{{ctr}}" name="save_{{ip}}_{{ctr}}" value="Запис" type="button" onClick="javascript:editHost('{{ip}}','{{ctr}}')"/>
                        <input id="del_{{ip}}_{{ctr}}" name="del_{{ip}}_{{ctr}}" value="Изтрий" type="button" onClick="javascript:delHost('{{ip}}', '{{ctr}}')"/>
                    </p>
                </td>
            </tr>
            {{/redirected}}
            <tr>
                <td style="text-align: right">
                    Име:
                    <select name="hostAdd" id="hostAdd">
                        <option></option>
                        {{#hosts}}
                        <option value="{{ip}}">{{name}}</option>
                        {{/hosts}}
                    </select>
                    <br/>
                    Име:<input id="hostname_new" name="hostname_new" type="text" size="20" value="" /><br/>
                    IP:<input id="ip_new" name="ip_new" type="text" size="20" value="" />
                </td>
                <td>
                    Протокол:
                    <select id="proto_new" name="proto_new">
                        <option>tcp</option>
                        <option>udp</option>
                    </select>
                </td>
                <td>Външен порт:<input id="oport_new" name="oport_new" value="0" type="text" size="10" /></td>
                <td>Вътрешен порт:<input id="iport_new" name="iport_new" value="0" type="text" size="10" /></td>
                <td>
                    <input id="save_new" name="save_new" value="Добави" type="button" onClick="javascript:editHost('new','-1')"/>
                </td>
            </tr>
        </table>
        <p class="butHolder">
            <a href="/ipconf/"  class="but">Назад</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="but" href="/ipconf/applySettings">Приложи настройките</a>
        </p>
    </form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
    function delHost(ip, ctr) {
        var conf = confirm('Изтриване на пренасочването?');
        if ((conf == true) && (ip != '')) {
            //get output port
            var oport = document.getElementById("oport_"+ip+"_"+ctr).value;

            call_server('', '/ipconf/delRedir/'+ip+'/'+oport);
            var row = document.getElementById("row_"+ip+"_"+ctr);
            row.remove();
        }
    }

    function editHost(ip,ctr) {
        let ipNew;
        let hostNameNew, oport, iport, el, proto;
        if (ip == 'new') {
            //Need to find the new ip from selectbox
            let el2 = document.getElementById("hostAdd");
            ipNew = el2.options[el2.selectedIndex].value;
            if (ipNew == "") {
                ipNew = document.getElementById("ip_new").value;
                hostNameNew = document.getElementById("hostname_new").value;
            }

            oport = document.getElementById("oport_new").value;
            iport = document.getElementById("iport_new").value;
            el = document.getElementById("proto_new");
        } else {
            oport = document.getElementById("oport_"+ip+"_"+ctr).value;
            iport = document.getElementById("iport_"+ip+"_"+ctr).value;
            el = document.getElementById("proto_"+ip+"_"+ctr);
        }

        if (ip != '') {
            try {
                let proto = el.options[el.selectedIndex].value;
            } catch (e) {
                alert(e+"->"+ip+"/"+ctr);
            }
            if (ip == "new") ip = ipNew; //Get the new IP if we are adding host!
            let path = '/ipconf/editRedir/'+ip+'/'+oport+'/'+iport+'/'+proto;

            //Add hostnamenew if not empty
            if (hostNameNew != null && hostNameNew != "") path += "/"+hostNameNew;
             else path += '/new';
            //alert(path);
            let addon = "";

            if (!validIp(ip)) ip = "";

            if (ip == "") addon = "Не сте избрали компютър от списъка и полето с адреса е празно!";
            if ((iport != "0") && (iport != "") && (oport != "0") && (oport != "") && (ip != "")) {
                call_server('', path);
                window.location = '/ipconf/ports';
            }

             else { if (addon == "") alert("Невалидно конфигурирани портове!");
              else alert(addon);
            }
        }
    }
</script>

</body>
</html>