{{#hostSel}}
<h1>Настройки на адрес</h1>

<form name="host" method="POST">

<table class="hosttab">
    <tr>
        <td>Име</td>
        <td><input id="nameval" name="nameval" type="text" value="{{name}}" /></td>
    </tr>
    <tr>
        <td>IP</td>
        <td>
            <select id="ipval" name="ipval" onchange="javascript:checkIp()">
                {{#ip}}
                  <option selected>{{ip}}</option>
                {{/ip}}
                {{#freeIps}}
                  <option>{{ip}}</option>
                {{/freeIps}}
            </select>
        </td>
    </tr>
    <tr>
        <td>MAC</td>
        <td><input id="macval" name="macval" type="text" value="{{mac}}" /></td>
    </tr>

    <tr>
        <td>Опции</td>
        <td>
            <input id="prio" name="prio" type="checkbox" value="1" {{#prio}} checked {{/prio}} />
            <label for="prio">Приоритет</label> <br/>
            <input id="proxy" name="proxy" type="checkbox" value="1" {{#proxy}} checked {{/proxy}} />
            <label for="proxy">Прокси</label> <br/>
            <input id="inetf" name="inet" type="radio" value="0" {{#inetf}} checked {{/inetf}} />
            <label for="inetf">Незададен</label> <br/>
            <input id="inet1" name="inet" type="radio" value="1" {{#inet1}} checked {{/inet1}} />
            <label for="inet1">Виваком</label> <br/>
            <input id="inet2" name="inet" type="radio" value="2" {{#inet2}} checked {{/inet2}} />
            <label for="inet2">MTEL</label> <br/>
            <input id="inetd" name="inet" type="radio" value="3" {{#inetd}} checked {{/inetd}} />
            <label for="inetd">Динамичен</label> <br/>
        </td>
    </tr>

    <tr>
        <td colspan="2">Папки</td>
    </tr>

    <tr>
        <td colspan="2">
            <a href="javascript:saveData();" class="but" style="float:left">Запис</a>
            <a href="javascript:applyData();" class="but" style="float:right">Приложи настройките</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <a href="/ipconf/logout" class="but" style="display: block">Изход</a>
        </td>
    </tr>

</table>
    <input type="submit" name="submit" value="OK" style="display:none;" />
</form>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
    function checkIp() {
        if (document.getElementById("macval").value == "") {
            let area = document.getElementById("ipval");
            let res = area.options[area.selectedIndex].innerHTML;

            //Define handler for this call
            handlers["/ipconf/arpget"] = function (msg) {
                let macel = document.getElementById("macval");
                if (macel.value == "" && msg != "" && msg != "00:00:00:00:00:00") macel.value = msg;
            }

            let addr = document.location.href.split("/"); //Get window location and take net
            let send = '{ "net": "'+addr[2]+'", "ip": "'+res+'"}'; //Pack to json
            if (res != null && res != "") call_server(send, "/ipconf/arpget"); //Call arpget
        }
    }

    function saveData() {
        let mac = document.getElementById("macval").value.toUpperCase();
        mac = mac.replace(/\-/g,':'); //replace -
        document.getElementById("macval").value = mac; //Return to container

        let regex = /^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$/;
        let macvalid = regex.test(mac);

        let name = document.getElementById("nameval").value;
        let namevalid = false;
        if (name != "") namevalid = true;
        if (name.indexOf(" ") > -1) namevalid = false;

        if ((namevalid) && (macvalid)) document.forms.host.submit.click();
         else {
             if (!macvalid) alert("Грешен МАС адрес!");
             if (!namevalid) alert("Невалидно име на потребитл!");
        }
    }

    function applyData() {
       window.location = '/applySettings';
    }
</script>
{{/hostSel}}