        <table class="hosttab">
            <tr><td colspan="2" height="40px">
                <a href="/ipconf/globals" class="but">Променливи</a>
                <a href="/ipconf/ports" class="but">Портове</a>
                <a href="/ipconf/forbidden" class="but">Блокирани Адреси</a>
                <a href="/ipconf/inetHosts" class="but">Интернет Адреси</a>
                <a href="/ipconf/watch" class="but">Статистика</a>
                <a href="/ipconf/tickets" class="but">Wifi</a>
            </td></tr>
            <form name="password">
                <tr><td>Стара парола</td><td>
                    <input name="oldPass" id="oldPass" type="password" size="20" placeholder="****" />
                </td></tr>
                <tr><td>Нова парола</td><td>
                    <input name="newPass" id="newPass" type="password" size="20" placeholder="****" />
                    <input name="newPassAgain" id="newPassAgain" type="password" size="20" placeholder="Отново" />
                    <a href="javascript:newPass();" class="but" style="float: right">Смени паролата</a>
                </td></tr>
            </form>        </table>
   <ul class="l1">
    {{#networks}}
    <li><a href="/ipconf/reload">{{netName}}</a></li>
        <ul class="l2">
            {{#subnets}}
              <li>{{subName}}</li>
                 <table class="hosttab">
                     <tr><th>Име</th><th>Ip address</th><th>MAC Address</th><th>Редактирай</th></tr>
                     {{#hosts}}
                       <tr><td>{{hostName}}</td>
                           <td>{{ip}}</td>
                           <td>{{mac}}</td>
                           <td style="text-align: right">
                               <a style="float:left;color:red" href="javascript:delHost('/ipconf/delHost/{{netName}}/{{subName}}/{{hostName}}');">[X]</a>
                               <a href="/ipconf/editHost/{{netName}}/{{subName}}/{{hostName}}">Редактирай</a>
                           </td>
                       </tr>
                     {{/hosts}}
                     <tr>
                         <td style="text-align: center;"><a href="/ipconf/logout" class="but" style="display: block">Изход</a></td>
                         <td colspan="2" style="text-align: center" class="but"><a class="but"  style="display: block" href="/ipconf/applySettings">Приложи настройките</a></td>
                         <td style="text-align: center">
                             <a href="/ipconf/editHost/{{netName}}/{{subName}}/"  style="display: block" class="but">Добави име</a>
                         </td>
                     </tr>
                 </table>
            {{/subnets}}
        </ul>
    {{/networks}}
</ul>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">
    function delHost(host) {
        var conf = confirm('Изтриване на адреса?');
        if (conf == true)
            window.location = host;
    }

    function newPass() {
        var oldPass = document.getElementById("oldPass").value;
        var newPass = document.getElementById("newPass").value;
        var newPassAgain = document.getElementById("newPassAgain").value;

        if ((oldPass != "") && (newPass != "") && (newPass == newPassAgain)) {
            call_server("", "/ipconf/newPass/"+oldPass+"/"+newPass);
        } else alert('Паролите не съвпадат или не са въведени правилно!');
    }
</script>
