<!DOCTYPE html>
<html lang="en">
<head>
    <title>Internet Watcher</title>
    <script language="javascript" content="text/javascript" src="/ipconf/js/svg.min.js"></script>
    <script language="javascript" content="text/javascript" src="/ipconf/js/flatpickr.min.js"></script>
    <script language="javascript" content="text/javascript" src="/ipconf/js/dateformat.js"></script>
    <script language="javascript" content="text/javascript" src="/ipconf/js/selInterval.js"></script>
    <script language="javascript" content="text/javascript" src="/ipconf/js/svgGraph.js"></script>
    <link rel="stylesheet" href="/ipconf/css/flatpickr.css">
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container"  style="height: 80%;">
    <h1>Наблюдение на връзката</h1>
    <form name="login" method="POST" style="height: 100%;">
        <table class="hosttab" style="height: 100%;">
            <tr><td colspan="2">
                <div id="drawing" style="width: 100%; height: 200px; overflow: hidden">
                </div>

                <form method="post">
                    <select id="selInterval" name="selInterval" onchange="javascript:workInterval()">
                        <option></option>
                        <option>12 часа</option>
                        <option>24 часа</option>
                        <option>2 Дни</option>
                        <option>4 Дни</option>
                        <option>Седмица</option>
                        <option>2 Седмици</option>
                    </select>

                    <input type="text" class="picker" id="start_date" placeholder="Начало" size="40" name="start_date"
                      onchange="getInterval()" />
                    <input type="text" class="picker" id="end_date" placeholder="Край" size="40" name="end_date"
                      onchange="getInterval()" />
                </form>

            </td></tr>
            <tr><td style="width: 50%;">
                <p>
                  <input id="do_watch" type="checkbox" name="do_watch" {{#do_watch}}checked{{/do_watch}}/>
                  <label for="do_watch">Проследявай интернет връзката</label>
                </p>
                <p>
                    Активен интернет:
                    <input id="route_r1" type="radio" name="route" onclick="javascript:selRoute('r1');" {{#isr1}} checked {{/isr1}} value="r1" />
                    <label for="route_r1">Виваком</label>
                    <input id="route_r2" type="radio" name="route" onclick="javascript:selRoute('r2');" {{#isr2}} checked {{/isr2}} value="r2" />
                    <label for="route_r2">MTEL</label>
                    <input id="route_rm" type="radio" name="route"  onclick="javascript:selRoute('rm');"{{#isrm}} checked {{/isrm}} value="rm" />
                    <label for="route_rm">Всички</label>
                </p>

                <p>
                    <a href="javascript:saveData();" class="but">Запиши</a>
                    <a href="/ipconf/"  class="but">Назад</a>
                </p>
            </td><td style="width: 50%">
                <textarea id="ilog" name="ilog" style="width: 90%;height:80%"></textarea>
            </td></tr>
        </table>
    </form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">

  //Configure date picker
  flatpickr(".picker", {
      enableTime: true,
      dateFormat: "d.m.Y H:i:S",
      time_24hr: true
  });

  //Init dates
  initInterval();

  function selRoute(rt) {
      let doW = document.getElementById("do_watch");
      if (rt != 'rm') {
          doW.checked = false;
          doW.disabled = true;
      } else {
          doW.checked = true;
          doW.disabled = false;
      }
  }

  //createDraw([[10.5,1],[15,1],[25,0],[33,0],[45,2],[46,0]]);
  //setTimeout('createDraw([[16.5,1],[15.6,0],[25.1,0],[37,0],[40,2],[90,0]])', 4000);

 /// Save settings
  function saveData() {
      let watch = document.getElementById("do_watch").checked;
      let defroute = document.getElementsByName("route");
      let i = 0;
      let ourroute = "rm";

      while (i < defroute.length && !defroute[i].checked) i++;
      if (i < defroute.length && defroute[i].checked) ourroute = defroute[i].value;

      handlers["/ipconf/saveWatch"] = function(msg) {
          if (msg == "saved") window.location = "/ipconf/";
      };
      let msg = '{"route":"'+ourroute+'","watch":'+watch+'}';
      //alert(msg);
      call_server(msg,'/ipconf/saveWatch');
  }
</script>
</body>
</html>