<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wifi Settings</title>
    {{styles}}
</head>
<body style="overflow:auto;">
<div class="container">
 <h1>Wifi Билети</h1>

<form name="host" method="POST">

    <table id="hosttab" class="hosttab">
        <form name="password">
            <tr><td>Стара парола</td><td>
                <input name="oldPass" id="oldPass" type="password" size="20" placeholder="****" />
            </td></tr>
            <tr><td>Нова парола</td><td>
                <input name="newPass" id="newPass" type="password" size="20" placeholder="****" />
                <input name="newPassAgain" id="newPassAgain" type="password" size="20" placeholder="Отново" />
                <a href="javascript:newPass();" class="but" style="float: right">Смени паролата</a>
            </td></tr>
        </form>
        <tr>
            <td>IP</td>
            <td>
                <select id="ipval" name="ipval">
                    {{#wifiIps}}
                    <option>{{ip}}</option>
                    {{/wifiIps}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Time</td>
            <td>
                <select id="time" name="time">
                   <!-- <option value="1">1min</option> !-->
                    <option value="10">10min</option>
                    <option value="15">15min</option>
                    <option value="30">30min</option>
                    <option value="45">45min</option>
                    <option value="60">1hour</option>
                    <option value="120">2hours</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <a href="javascript:newTicket()" class="but" style="display: inline-block">Нов</a>
            </td>
        </tr>

        <tr><td colspan="2">Раздадени</td></tr>
        {{#tickets}}
        <tr id="row_{{ip}}"><td>{{ip}}</td><td>{{endTime}}
        &nbsp;&nbsp;&nbsp;
        <a href="javascript:delTicket('{{ip}}')" class="but" style="display: inline-block">X</a>
        </td>
        {{/tickets}}
        </tr>

        <tr><td colspan="2">
            <p class="butHolder">
                <a href="/ipconf/"  class="but">Назад</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/ipconf/logout" class="but" >Изход</a>

            </p>

        </td></tr>

    </table>
</form>
</div>
<script language="JavaScript" src="/ipconf/js/ajax.js"></script>
<script language="JavaScript">

    function newTicket() {
        let ip = document.getElementById("ipval");
        let ipAddr = ip.options[ip.selectedIndex].value;

        let timeCont = document.getElementById("time");
        let time = timeCont.options[timeCont.selectedIndex].value;

        let path = '/ipconf/newTicket/'+ipAddr+'/'+time;
        if (ipAddr != "" && time != "") call_server('', path);

        handlers[path] = function (msg) {
            window.location = '/ipconf/tickets';
        }

    }

    function delTicket(ip) {
        let conf = confirm('Изтриване на пренасочването?');
        if (conf && ip != "") {
            call_server('', '/ipconf/delTicket/' + ip);
            let row = document.getElementById("row_" + ip);
            row.remove();
        }
    }

    function newPass() {
        var oldPass = document.getElementById("oldPass").value;
        var newPass = document.getElementById("newPass").value;
        var newPassAgain = document.getElementById("newPassAgain").value;

        if ((oldPass != "") && (newPass != "") && (newPass == newPassAgain)) {
            call_server("", "/ipconf/newPass/"+oldPass+"/"+newPass);
        } else alert('Паролите не съвпадат или не са въведени правилно!');
    }


</script>
</body>
</html>